@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
	margin: 0;
	padding: 0;
	/* background-color: #e9e9e9; */
	font-family: 'poppins', sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.btn {
	border-radius: 0 !important;
}

.btn-black {
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 0;
	transition: .3s;
}

.btn-black:hover {
	background-color: transparent;
	color: #000000
}

.navbar .navbar-nav .nav-item .nav-link {
	font-weight: 500;
}

.navbar .navbar-nav .nav-item.dropdown {
	margin-left: 1rem;
}

.header-home {
	background-image: url('../image/headerhomepage.jpg');
	background-size: cover;
	min-height: 500px;
	padding-top: 8rem;
	padding-bottom: 10rem;
}

.header-home .home-title {
	text-align: center;
	font-size: 80px;
	font-weight: 600;
	color: #FFFFFF;
	width: 80%;
	margin: 0 auto;
}

.header-home .home-description {
	text-align: center;
	margin: 0 auto;
	margin-top: 1rem;
	color: #FFFFFF;
	width: 60%;
}

.header-home .btn {
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 0;
	margin: 0 auto;
	display: block;
	width: 20%;
	margin-top: 2rem;
}

section {
	padding: 100px 0 0;
}

.title {
	font-size: 36px;
	font-weight: 600;
	margin: 0 auto;
	margin-bottom: 1rem;
	width: 60%;
}

.description {
	font-weight: 400;
	width: 80%;
	margin: 0 auto;
	color: #555555
}

@media screen and (max-width: 768px) {
	.navbar .navbar-nav .nav-item.dropdown {
		margin-left: 0;
	}

	.header-home {
		padding-bottom: 5rem;
	}

	.header-home .home-title,
	.header-home .home-description,
	.title,
	.description {
		width: 100%
	}

	.header-home .home-title {
		font-size: 50px;
	}

	.header-home .btn {
		width: 50%
	}

	section {
		padding: 50px 0 0;
	}
}

.card {
	border: none;
	border-radius: 0;
}

.card .card-img-top {
	height: 300px;
	object-fit: cover;
}

.card .card-title {
	margin-top: 1rem;
	font-size: 18px;
	font-weight: 500;
}

.card .card-description {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	color: #555555
}

.card .btn-black {
	width: max-content;
	margin: 0 auto;
	font-size: 14px;
}

.footer {
	padding: 100px 0 10px
}

.footer hr {
	width: 50%;
	margin: 0 auto;
	background-color: #adadad;
}

.footer .footer-title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.footer .footer-menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer .footer-menu a,
.footer-description {
	color: #555555;
}

.footer .footer-logo {
	width: 60px;
	height: 60px;
}

.product-detail img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.product-detail .product-title {
	font-size: 30px;
	font-weight: 600
}